body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button.button {
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

#addRowButton {
    margin-top: 10px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}
/* Estilo para centrar los inputs dentro de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

input[type="text"], input[type="number"] {
    width: 90%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center; /* Para centrar el texto dentro del input */
}

button {
    margin-top: 10px;
}
